/* Style the buttons */
.btn {
  border:'solid 2px';
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
  border-radius:'20px';
  width:'100px';
  padding:'3px';
  background-color:'#00BFFF';
  height:'100px';
  margin-left:'10px';
}

/* Style the active class, and buttons on mouse-over */
.active, .btn:hover {
  background-color: #666;
  color: #00FF7F;


  border:'solid 2px';
  border-radius:'20px';
  padding:'5px';
  background-color:'#7CFC00'; 
}