teste {
    
    
    border:'solid 10px';
    border-radius:'20px';
    box-shadow: '10px 10px 10px 5px blue';
   


}

teste2 {
    
    border:'solid 10px';
    border-radius:'20px';
    box-shadow: '10px 10px 10px 5px red';

}

teste3 {

    border:'solid 10px';
    border-radius:'20px';
    box-shadow: '10px 10px 10px 5px green';



}